[Desktop Entry]
Version=1.0
Type=Application
Name=Run BiomedICUS
Comment=Run BiomedICUS on the default directory
Exec=bash -c '/home/ubuntu/run_biomedicus.sh'
Icon=
Path=
Terminal=true
StartupNotify=false
