[Desktop Entry]
Version=1.0
Type=Application
Name=Run cTAKES
Comment=Run cTAKES on the default directory
Exec=bash -c '/home/ubuntu/run_ctakes.sh'
Icon=
Path=
Terminal=true
StartupNotify=false
